<<<<<<< HEAD
h1,h2,h3,h4,h5,p{ font-family: 'Georgia'; font-style: italic; }
=======
h1,h2,h3,h4,h5,p{ font-family: 'Georgia'; font-style: italic; }
>>>>>>> f68822687c5f9ee8eceefd2757fdc4d90fb0cee7
p{ font-style: normal; }